<div class="container-fluid p-3">
    <div class="headerWrapper">
        <div class="rightToolbar">
            <div class="dropdown">
                <div class="profilePic">
                    <p>Hi Rishabh</p>
                    <img src="./../../../../../assets/round_profile.jpg" />
                </div>
                <div class="dropdown-content">
                    <a href="/profile">PROFILE</a>
                    <a href="/settings">SETTINGS</a>
                    <a href="/logout">LOGOUT</a>
                </div>
            </div>
        </div>
    </div>
</div>