@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #5f5f5f;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 23%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 1;
}

.logo {
    text-align: center;
    padding-top: 10px;
}

.logo {
    img {
        width: 70%;
        cursor: pointer;
    }
}

.sidebarBodyTitle {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    text-align: center;
    p {
        display: inline;
        padding: 0 10px;
        background: #5f5f5f;
        color: white;
        font-weight: 100;
        box-shadow: 2px 7px 18px 1px rgba(95, 95, 95, 0.76);
        border-radius: 5px;
        transition: 1s;
    }
}

.sidebarElements {
    width: 100%;
    padding: 25px 0;
}

.item {
    font-size: 16px;
    width: 100%;
    padding: 0;
    padding-left: 30px;
    span {
        margin-right: 20px;
    }
}

.hoverable:hover {
    font-size: 18px;
    transition: 0.5s;
}

.item,
.item span {
    min-height: 50px;
    line-height: 2.7;
}

.item-text {
    cursor: pointer;
}

.fa-chevron-right {
    float: right;
    cursor: pointer;
}

.rotate {
    transform: rotate(90deg);
    transition: .8s;
}

.no-rotate {
    transform: rotate(0deg);
    transition: .8s;
}

.click-pink {
    color: pink;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.ui.teal.left.pointing.label {
    background: #5f5f5f !important;
}

.searchBtnWrapper {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    text-align: center;
    position: absolute;
    margin-bottom: 20px;
    bottom: 0;
    width: 100%;
    button {
        background: #5f5f5f;
        color: white;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
    button:active {
        box-shadow: none;
        transition: 0.5s;
    }
}