<div class="wrapper">
  <div class="logo">
    <img src="./../../../../../assets/societal-logo.png"/>
  </div>
  <hr>
  <div class="sidebarBody p-0">
    <div class="sidebarBodyTitle">
      <p>Network Elements</p>
    </div>
    <div class="sidebarElements">
        <div class="item">
            <span class="fas fa-globe-asia"></span><a class="item-text" (click)="networkElementClick('Organisation')">Organizations</a>
            <span class="fas fa-chevron-right" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" 
            (click)="rotateObj.Organisation.rotate = !rotateObj.Organisation.rotate; panelOpenOne = !panelOpenOne"  
            [ngClass]="{'rotate': rotateObj?.Organisation.rotate, 'no-rotate': !rotateObj?.Organisation.rotate}"
            ></span>
            <div class="collapse" id="collapseExample">
              <sui-multi-select [(ngModel)]="selectedRelation" [options]="orgOptions" [maxSelected]="5" #organisation>
                <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input suiSelectSearch type="text" placeholder="Search Organisation...">
                </div>
                <div class="scrolling menu">
                    <sui-select-option *ngFor="let o of organisation.filteredOptions" [value]="o"></sui-select-option>
                </div>
            </sui-multi-select>
            </div>
        </div>
        <div class="item">
            <span class="fa fa-linode"></span><a class="item-text" (click)="networkElementClick('Department'); highlight($event,'click-orange')">Departments</a>
            <span class="fas fa-chevron-right" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2"  (click)="rotateObj.Department.rotate = !rotateObj.Department.rotate" [ngClass]="{'rotate': rotateObj?.Department.rotate, 'no-rotate': !rotateObj?.Department.rotate}"></span>
            <div class="collapse" id="collapseExample2">
              <sui-multi-select [(ngModel)]="selectedRelation" [options]="orgOptions" [maxSelected]="5" #organisation>
                <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input suiSelectSearch type="text" placeholder="Search Organisation...">
                </div>
                <div class="scrolling menu">
                    <sui-select-option *ngFor="let o of organisation.filteredOptions" [value]="o"></sui-select-option>
                </div>
            </sui-multi-select>
            </div>
        </div>
        <div class="item">
            <span class="fa fa-user-o"></span><a class="item-text" (click)="networkElementClick('Person'); highlight($event,'click-green')">Person</a>
            <span class="fas fa-chevron-right"data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3"  (click)="rotateObj.Person.rotate = !rotateObj.Person.rotate" [ngClass]="{'rotate': rotateObj?.Person.rotate, 'no-rotate': !rotateObj?.Person.rotate}"></span>
            <div class="collapse" id="collapseExample3">
              <sui-multi-select [(ngModel)]="selectedRelation" [options]="orgOptions" [maxSelected]="5" #organisation>
                <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input suiSelectSearch type="text" placeholder="Search Organisation...">
                </div>
                <div class="scrolling menu">
                    <sui-select-option *ngFor="let o of organisation.filteredOptions" [value]="o"></sui-select-option>
                </div>
            </sui-multi-select>
            </div>
        </div>
    </div>
    <div class="sidebarBodyTitle">
        <p>Relationships</p>
      </div>
  </div>
</div>