<header class="st-navbar">
    <nav class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">

        <a href="#"><img src="../../../../../assets/societal-logo.png" alt="" class="img-responsive"></a>



        <ul class="nav navbar-right">
            <!-- <li class="active"><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact Us</a></li> -->
        </ul>
        <!-- Brand and toggle get grouped for better mobile display -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse main-nav" id="sept-main-nav">

        </div>
        <!-- /.navbar-collapse -->

    </nav>
</header>