.container-fluid .btn-group {
    margin-right : 20px;
}

.btn-group:active {
    outline : none;
    text-decoration: none;
}

.createLink, .editLink, .deleteLink {
    text-decoration: none;
    font-size: 12px;
}

.dropdown-menu {
    .dropdown-item {
        cursor: pointer;
        span {
            margin-right : 8px;
        }
    }
    .dropdown-item:active {
        background-color: white;
    }
    .create:hover {
        color : blue;
    }
    .edit:hover {
        color : green;
    }
    .delete:hover {
        color : red;
    }
}

.modal-header {
    background : #5f5f5f;
    color : white;
    border-color: #5f5f5f;
    button.close {
        color : white;
    }
}
.modalItem {
    padding : 10px;
    .fa-info-circle {
        font-size : 14px;
        cursor: pointer;
    }
}

.sectionName {
    display : inline-block;
    margin : 0;
    max-width : 50%;
}

.inputSpan {
    position : absolute;
    left : 50%;
    input {
        border : 1px solid #acacac;
        outline : none;
    }
}

.propertyLabel {
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
}

input[disabled="true"] {
    cursor: not-allowed;
  }

.deleteBtn {
    margin-right : auto;
}