.graph-container {
    background: #F5F5F5;
    height: 81%;
}

.selected-count {
    background: #ccc;
    word-break: break-all;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #30333a;
    border-radius: 3px;
    padding: 1em;
}