.graph-container {
    background: #F5F5F5;
    height: 80vh;
    width: 80%;
    float: right;
}

.selected-count {
    background: #F5F5F5;
    word-break: break-all;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #30333a;
    border-radius: 3px;
    padding: 1em;
    float: left;
}

.wrapper-countlimit {
    width: 80%;
    float: right;
}

.nodeLimit {
    max-width: 200px;
    top: 50px;
    float: left;
    border-radius: 3px;
    padding: 1em;
    background: #F5F5F5;
    outline: none;
}

.float-right-toolbar {
    display: inline-flex;
    width: 63%;
    justify-content: flex-end;
}


.creationToolbar {
    display: inline;
    top: 50px;
    padding: 1em;
    outline: none;
}

.export {
    margin-top: 15px;
}

.nodeLimit input {
    width: 35%;
    border: 0.3px solid #000;
    padding: 5px;
    border-radius: 2px;
}

.nodeLimit:focus {
    outline: none;
}

.nodelimit-head {
    display: inline;
    margin-right: 3px;
}

@media screen and (max-width: '1100px') {
    .graph-container,
    .selected-count {
        width: 75%;
    }
}