.toggleWrapper {
    text-align : center;
    width : 50%;
    margin : auto;
    height : 20%;
  }
  
  .switch {
    position : relative;
    display : block;
    top: 8px;
    width : 50px;
    height : 30px;
  }
  
  .slider {
    position : absolute;
    top : 0 ; 
    right : 0; 
    bottom : 0; 
    left : 0;
    cursor : pointer;
    background : white;
    border : 2px solid black;
    box-shadow : 1px 1px 1px rgba(0,0,0,0.1);
    transition : .5s;
  }
  
  .slider:before {
    position : absolute;
    left : 0;
    content : "";
    top : 4.5px;
    bottom : 3px;
    background-color : black;
    transition : .5s;
  }
  
  .switch input {
    display : none;
  }
  
  input:checked + .slider {
    background-color : black;
  }
  
  input:checked + .slider:before {
    transform : translateX(27px) rotateZ(45deg);
    background-color : white;
  }
  
  .slider.round {
    border-radius : 35px;
  }
  
  .slider.round:before {
    width : 43%;
    height : 43%;
    border-top-left-radius : 50px;
    border-top-right-radius : 50px;
    transform : rotateZ(-45deg);
  }