<section class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="subscribe-title">Subscribe Newsletter</h3>
                <form role="form" class="subscribe-form">
                    <div class="input-group">
                        <input type="email" class="form-control" id="mc-email" placeholder="Enter E-mail...">
                        <span class="input-group-btn">
                <button class="btn btn-main btn-lg" type="submit">Subscribe!</button>
              </span>
                    </div>
                </form>
                <div class="subscribe-result"></div>
                <p class="subscribe-or">or</p>
                <ul class="subscribe-social">
                    <li><a href="#" class="social twitter"><i class="fa fa-twitter"></i> Follow</a></li>
                    <li><a href="#" class="social facebook"><i class="fa fa-facebook"></i> Like</a></li>
                    <li><a href="#" class="social rss"><i class="fa fa-rss"></i> RSS</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>